.popup {
	background:white; 
	height:100px; 
	top:40%; 
	z-index:100; 
	border:3px solid; 
	border-color:black; 
	visibility:hidden;
}
.eventlist {
	padding: 10px; 
	background:white; 
}
.eventname {
	background:skyblue; 
	margin:5px; 
	left:20px; 
	font-size: 14px !important;
}
.addNewEvent {
	height:40px; 
	left:10px; 
	margin:10px; 
	bottom:15%;
	position:absolute;	
}
.eventDetail{
	box-shadow:1px 1px 2px black; 
	height:1000px; 
	padding: 10px; 
	overflow:hidden; 
	visibility:hidden;
	overflow:hidden;
}
.cover {
	position:absolute;
	box-shadow:1px 1px 2px black; 
	height:750px; 
	padding: 10px;
	overflow:hidden;
}
